<div class="confirmpopup">
    <div class="coloredHeader">
        <h1>Sucess!</h1>
        <h3>Appointment Scheduled</h3>
        <img ng-click="tog()" src="https://api.icons8.com/download/65ae7359047a4bcf39e562e157d9768dd0bc63c9/windows10/PNG/256/User_Interface/delete_sign-256.png" alt="">
    </div>
    <div class="checkmark-circle">
         <div class="background"></div>
        <div class="checkmark draw"></div>
    </div>
    <div>
        <h4>Your appointment is scheduled for <span>{{order.date}}</span> at <span>{{order.time}}</span></h4>
        <h5>Thank You!</h5>
    </div>
    <button ng-click="tog()">Ok</button>
</div>
