#app {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}
svg{enable-background:new 0 0 100 100;}
.st0{fill:#333333;}
.st1{fill:#1A1A1A;}
.st2{fill:#FFFFFF;}
.st3{opacity:7.000000e-02;fill:#0071BC;}
.st4{opacity:0.75;fill:#0071BC;}
.st5{fill:#E6E6E6;}
.st6{opacity:0.34;}
.st7{fill:#C1272D;}
